Body { background-image: url("assets/background.png"); 
	background-repeat: no-repeat;
	display: flex;
	margin: 0;
	padding: 0;
    font-family: helvetica;
}

a {color: black; 
   text-decoration: none;  
}

a:hover {color: white;
}
/* première colonne ///////////////////////////////////////////////////////////////*/
#contact {
	width:  17%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 2vw;
}

#contact p {font-size: 1.3vw;
}

#contact h4 {font-size: 1.3vw; 
			margin: 0;
}

#reseaux_sociaux {display: flex;
		justify-content: space-between;
		padding-right: 8vw;
		padding-top: 0.5vw;
		padding-bottom: 1vw;
		font-size: 2vw;
}

/* deuxième colonne ///////////////////////////////////////////////////////////////*/
#liens {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 21%;
	margin-top: 8vw;
	padding-left: 0vw;
}


/* troisième colonne ///////////////////////////////////////////////////////////////*/
#nom{
	width: 31.5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-top: 16vw;
}

#nom h1:nth-child(1){
	letter-spacing: -0.3vw;
}

h1{font-size: 8vw;
margin: 0;
} 

#nom p{padding-left: 10.5vw;
	margin: 0;
	text-align: justify;
}

/* quatrième colonne /////////////////////////////////////////////////////////////// */
#logo{width: 30.5%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
padding-right: 2vw;
}

#logo img {width: 80px;
	height: 80px;
	margin: 0;
	padding: 0;
	padding-top: 2vw;
}

h3 {margin: 0;
font-size: 2vw;
}

#logo a:hover {color: pink;